body {
  background-color: #fbf5f0;
  padding: 0;
  margin: 0;
  font-family: "playfair display", serif;
  font-size: 2rem;
  font-weight: bold;
}

#playing-cards {
  width: 100vw;
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  --card-color: #142d25; /* default fallback */
  color: var(--card-color);
  border: 1px solid #142d25;
  width: 250px;
  height: 310px;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: #f2e3d8;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: all 0.3s ease;
}

.card:hover .middle {
  transform: scale(1.3);
}

.card:hover {
  transform: translatey(-20px);
  box-shadow: 0px 0px 12px var(--card-color);
}

/* background shape to enhance the design */
.card::before {
  content: "";
  position: absolute; /* so it sits on the card and behind the content */
  width: 200px;
  height: 200px;
  border-radius: 35%;
  padding: 20px;
  filter: blur(20px);
  top: 0%;
  left: 30%;
  transform: translate(50%, -50%) rotate(25deg);
  z-index: 0;
  opacity: 0.8;
  background-color: var(--card-color);
}

span {
  display: flex;
  flex-wrap: wrap;
}

.divider {
  background-color: var(--card-color);
  height: 1px;
  width: 100%;
  margin-top: 6px;
}

.card-ace-spades {
  --card-color: #024a43;
}

.card-ace-spades .middle {
  font-size: 8rem;
}

.card-2-diamonds {
  --card-color: #aa423a;
}

.card-3-clubs {
  --card-color: #024a43;
}

.club-3 {
  transform: rotate(180deg);
}

.card-4-hearts {
  --card-color: #aa423a;
}

.card-4-hearts .middle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90px;
  justify-content: center;
  gap: 12px;
}

.card-4-hearts .middle span:nth-child(n + 3) {
  transform: rotate(180deg);
}

.card-5-spades {
  --card-color: #024a43;
}

.card-5-spades .middle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90px;
  justify-content: center;
  gap: 12px;
}

.card-5-spades .middle span:nth-child(3) {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}

.card-5-spades .middle span:nth-child(n + 4) {
  transform: rotate(180deg);
}

.left {
  align-self: flex-start;
}

.middle {
  display: flex;
  align-self: center;
  flex-direction: column;
  font-size: 3rem;
  transition: transform 0.3s ease;
}

.right {
  align-self: flex-end;
  transform: rotate(180deg);
}
